.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.own_message {
  align-self: flex-end;
  justify-content: flex-end;
}

.message__info {
  margin-left: 20px;
}

.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
